<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Calendario -->
  <div class="calendar-container">
    <!-- Aquí iría tu componente de calendario -->
    <!-- Insertar el componente de calendario personalizado -->
    <ion-card>
      <ion-card-content>
        <app-date-picker></app-date-picker>
      </ion-card-content>
    </ion-card>
    <!-- <app-calendar></app-calendar> -->
  </div>

  <!-- Título de actividades próximas -->
  <div class="activities-title">
    <ion-icon name="calendar-outline"></ion-icon> Actividades Próximas
  </div>

  <!-- Lista de actividades próximas -->
  <ion-card class="activity-list">
    <ion-card-header>
      Actividades próximas
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí iría tu lista de actividades próximas -->
      <!-- <ion-list>
        <ion-item *ngFor="let activity of upcomingActivities">
          {{ activity.date }} - {{ activity.description }}
        </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>

  <!-- Lista de fechas cercanas -->
  <ion-card class="dates-list">
    <ion-card-header>
      Fechas Cercanas
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí iría tu lista de fechas cercanas -->
      <!-- <ion-list>
        <ion-item *ngFor="let date of upcomingDates">
          {{ date }}
        </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>
</ion-content>
