.calendar-container {
    margin-bottom: 20px;
  }
  
  .activities-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .activities-title ion-icon {
    margin-right: 5px;
  }
  
  .progress-container {
    max-height: 50px; /* o la altura que desees */
    overflow-y: auto;
  }

  .activity-list ion-label p {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow-x: auto; /* Habilita el desplazamiento horizontal si el texto se desborda */
  }

  .activity-list,
  .dates-list {
    margin-top: 20px;
  }

  /* Fondo verde claro */
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
}

/* Color de texto azul */
ion-label, ion-input, ion-textarea, ion-button, .ion-text-center a {
    color: #007bff !important; /* Color azul */
}

/* Estilo para el botón de iniciar sesión */
ion-button {
    color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
}

/* Estilo para los elementos de entrada */
.input-item {
    --background: #ffffff; /* Color de fondo blanco */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 20px; /* Espacio a la izquierda para el icono */
    --border: 2px solid #007bff; /* Color de contorno azul */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

/* Limitar el número de caracteres en los campos de entrada */
ion-input {
    --maxlength: 30; /* Límite de caracteres */
}
.description-container {
  width: 100%; /* Asigna un ancho al contenedor */
  overflow-x: scroll;/* Muestra la barra de desplazamiento horizontal automáticamente */
  white-space: nowrap; /* Habilita el desplazamiento horizontal si el contenido desborda el ancho del contenedor */
}

.description-container h2,
.description-container p {
  display: inline-block; /* Hace que los elementos de encabezado y párrafo se muestren en línea */
  margin: 0; /* Elimina cualquier margen que pueda afectar el ancho */
  padding: 0; /* Elimina cualquier relleno que pueda afectar el ancho */
}
