<ion-content [fullscreen]="true" class="ion-padding">

  
  <!-- Calendario -->
  <div class="calendar-container">
    <ion-card>

      <ion-card-header>
        <ion-card-title style="text-align: center;">Vista General</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-date-picker [allowSelection]="false" [reuniones]="reuniones"></app-date-picker>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Actividades creadas por el usuario -->
  <div class="activities-title">
    <ion-icon name="calendar-outline"></ion-icon> Actividades Creadas por el Usuario
  </div>

  <ion-card class="activity-list">
    <ion-card-content>
      <ion-list *ngIf="!noActivitiesCreatedByUser">
        <ion-item *ngFor="let reunion of reuniones" (click)="verParticipantes(reunion)">
          <ion-label *ngIf="reunion.createdByUser && isValidReunion(reunion)">
            <h2>{{ formatDate(reunion.fechas) }}</h2>
            <div class="description-container">
              <p>{{ reunion.motivo }}</p>
            </div>
            <div class="location-container">
              <p>{{ reunion.ubicacion }}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="noActivitiesCreatedByUser" class="no-activities">
        No hay actividades creadas por el usuario.
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Actividades en las que el usuario participa -->
  <div class="activities-title">
    <ion-icon name="calendar-outline"></ion-icon> Actividades en las que Participa
  </div>

  <ion-card class="activity-list">
    <ion-card-content>
      <ion-list *ngIf="!noActivitiesParticipant">
        <ion-item *ngFor="let reunion of reuniones" (click)="verParticipantes(reunion)">
          <ion-label *ngIf="!reunion.createdByUser && isValidReunion(reunion)">
            <h2>{{ formatDate(reunion.fechas) }}</h2>
            <div class="description-container">
              <p>{{ reunion.motivo }}</p>
            </div>
            <div class="location-container">
              <p>{{ reunion.comentarios }}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="noActivitiesParticipant" class="no-activities">
        No hay actividades en las que participes.
      </div>
    </ion-card-content>
  </ion-card>
  <div style="height: 200px;"></div>
</ion-content>
