<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Calendario -->
  <div class="calendar-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center;">Vista General</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-date-picker [allowSelection]="false" [reuniones]="reuniones"></app-date-picker>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Actividades creadas por el usuario -->
  <div class="activities-title">
    <ion-icon name="calendar-outline"></ion-icon> Actividades Creadas por el Usuario
  </div>

  <ion-card class="activity-list">
    <ion-card-content>
      <ion-list *ngIf="!noActivitiesCreatedByUser">
        <ion-item *ngFor="let reunion of reuniones" (click)="verDetalles(reunion)">
          <ion-label *ngIf="reunion.created_by && isValidReunion(reunion)">
            <div class="chip-container">
              <!-- Chips for meeting type, location, and status -->
              <ion-chip *ngIf="reunion.tipo">
                <ion-icon [name]="reunion.tipo === 'Presencial' ? 'business-outline' : 'globe-outline'"></ion-icon>
                <ion-label>{{ reunion.tipo }}</ion-label>
              </ion-chip>

              <ion-chip *ngIf="reunion.ubicacion">
                <ion-icon [name]="reunion.tipo === 'Presencial' ? 'location-outline' : getIconForPlatform(reunion.ubicacion)"></ion-icon>
                <ion-label>{{ reunion.ubicacion }}</ion-label>
              </ion-chip>

              <ion-chip *ngIf="reunion.estado">
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label>{{ reunion.estado }}</ion-label>
              </ion-chip>
            </div>

            <div class="ion-text-wrap">
              <h2 *ngFor="let line of formatDate(reunion.fechas_reunion)">{{ line }}</h2>
            </div>

            <div class="location-container">
              <p>{{ reunion.motivo }}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="noActivitiesCreatedByUser" class="no-activities">
        No hay actividades creadas por el usuario.
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Actividades en las que el usuario participa -->
  <div class="activities-title">
    <ion-icon name="calendar-outline"></ion-icon> Actividades en las que Participa
  </div>

  <ion-card class="activity-list">
    <ion-card-content>
      <ion-list *ngIf="!noActivitiesParticipant">
        <ion-item *ngFor="let reunion of participantReuniones" (click)="verParticipantes(reunion)">
          <ion-label *ngIf="isValidReunion(reunion)">
            <div class="ion-text-wrap">
              <div>{{ formatDate(reunion.fechas_reunion)[0] }}</div>
              <div *ngFor="let line of formatDate(reunion.fechas_reunion).slice(1)">
                <div>{{ line }}</div>
              </div>
            </div>
            <div class="description-container">
              <p>{{ reunion.motivo }}</p>
            </div>
            <div class="location-container">
              <p>{{ reunion.comentarios }}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="noActivitiesParticipant" class="no-activities">
        No hay actividades en las que participes.
      </div>
    </ion-card-content>
  </ion-card>

  <div style="height: 200px;"></div>
</ion-content>
