.calendar-container {
    margin-bottom: 20px;
  }
  
  .activities-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .activities-title ion-icon {
    margin-right: 5px;
  }
  
  .progress-container {
    max-height: 50px; /* o la altura que desees */
    overflow-y: auto;
  }

  .activity-list {
    max-height: calc(100vh - 240px); /* Ajusta la altura máxima de la lista de actividades */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede la altura máxima */
  }

  .activity-list ion-label p {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow-x: auto; /* Habilita el desplazamiento horizontal si el texto se desborda */
  }

  .activity-list,
  .dates-list {
    margin-top: 20px;
  }

  /* Fondo verde claro */
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
    min-height: calc(100vh - 56px);
}

/* Color de texto azul */
ion-label, ion-input, ion-textarea, ion-button, .ion-text-center a {
    color: #007bff !important; /* Color azul */
}

/* Estilo para el botón de iniciar sesión */
ion-button {
    color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
}

/* Estilo para los elementos de entrada */
.input-item {
    --background: #ffffff; /* Color de fondo blanco */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 20px; /* Espacio a la izquierda para el icono */
    --border: 2px solid #007bff; /* Color de contorno azul */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

/* Limitar el número de caracteres en los campos de entrada */
ion-input {
    --maxlength: 30; /* Límite de caracteres */
}
.description-container {
  width: 100%; /* Asigna un ancho al contenedor */
  overflow-x: scroll;/* Muestra la barra de desplazamiento horizontal automáticamente */
  white-space: nowrap; /* Habilita el desplazamiento horizontal si el contenido desborda el ancho del contenedor */
}

.description-container h2,
.description-container p {
  display: inline-block; /* Hace que los elementos de encabezado y párrafo se muestren en línea */
  margin: 0; /* Elimina cualquier margen que pueda afectar el ancho */
  padding: 0; /* Elimina cualquier relleno que pueda afectar el ancho */
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Reduce the gap between chips */
  margin-bottom: 10px;
  justify-content: center; /* Center the chips horizontally */
}

ion-chip {
  --padding-start: 1px; /* Reduce padding */
  --padding-end: 1px;
  --border-radius: 8px;
  --background: #f4f4f4;
  height: 8px; /* Reduce height to make them more compact */
  font-size: 10px; /* Adjust font size if needed */
  line-height: 12px; /* Adjust line height for better spacing */
}

.ion-text-wrap h2 {
  text-align: center; /* Center the text */
  margin: 0; /* Remove margin to avoid extra space */
}

.description-container p,
.location-container p {
  text-align: center; /* Center the text */
}