/* Fondo verde claro */
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
}

/* Color de texto azul */
ion-label, ion-input, ion-textarea, ion-button, .ion-text-center a {
    color: #007bff !important; /* Color azul */
}

/* Estilo para el botón de iniciar sesión */
ion-button {
    color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
 /* Ajusta el espacio dentro del botón */
}

/* Estilo para los elementos de entrada */
.input-item {
    --background: #ffffff; /* Color de fondo blanco */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 20px; /* Espacio a la izquierda para el icono */
    --border: 2px solid #007bff; /* Color de contorno azul */
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

/* Limitar el número de caracteres en los campos de entrada */
ion-input {
    --maxlength: 30; /* Límite de caracteres */
}

.edicion input {
    background-color: #f2f2f2; /* Cambia el color de fondo para resaltar */
}

input.form-control {
    border: 1px solid #ced4da; /* Establece el borde del campo de entrada */
    border-radius: 0.25rem; /* Establece el radio del borde */
}

.fixed-width {
    width: 100px; /* Establece el ancho fijo deseado */
}

.custom-input {
    /* Estilos para el fondo */
    background-color: transparent !important; /* Fondo transparente */
    box-shadow: none !important; /* Sin sombra */
    border: none !important; /* Sin borde */

    /* Estilos para el texto */
    color: black !important; /* Color de texto predeterminado */
}

.custom-input:focus {
    background-color: #f2f2f2 !important; /* Cambia el color de fondo para resaltar al enfocar */
}
.card {
    max-width: 400px; /* Establece el ancho máximo deseado para la tarjeta */
}

.fixed-width-telefono {
    max-width: 100px; /* Establece el ancho máximo deseado para el campo de teléfono */
    overflow: hidden; /* Oculta el contenido que desborda */
    text-overflow: clip; /* Añade elipsis al final del texto desbordado */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

.fixed-width-nombre {
    max-width: 100px; /* Establece el ancho máximo deseado para el campo de nombre */
    overflow: hidden; /* Oculta el contenido que desborda */
    text-overflow: clip; /* Añade elipsis al final del texto desbordado */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

@keyframes moveText {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(-50px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  
  .moving-text {
    animation: moveText 5s infinite;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda */
    text-overflow: clip; /* Recorta el texto cuando se desborda */
  }