/* Fondo verde claro */
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
}

/* Color de texto azul */
ion-label, ion-input, ion-textarea, .ion-text-center a {
    color: #007bff !important; /* Color azul */
}

/* Estilo para el botón de iniciar sesión */
ion-button {
    color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
}

/* Estilo para los elementos de entrada */
.input-item {
    --background: #ffffff; /* Color de fondo blanco */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 20px; /* Espacio a la izquierda para el icono */
    --border: 2px solid #007bff; /* Color de contorno azul */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

/* Limitar el número de caracteres en los campos de entrada */
ion-input {
    --maxlength: 30; /* Límite de caracteres */
}

/* Estilos para el modal */
.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Ancho máximo del modal */
    max-height: 80%; /* Altura máxima del modal */
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px; /* Ajusta el espacio alrededor del contenido */
  }
/* Estilos para el modal */
.guest-code-modal {
    --width: 80%; /* Ancho del modal */
    --height: 60%; /* Altura del modal */
    --border-radius: 10px; /* Bordes redondeados del modal */
    --background: #fff; /* Color de fondo del modal */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del modal */
    --position: absolute; /* Posición absoluta del modal */
    --top: 20%; /* Distancia desde la parte superior */
    --left: 10%; /* Distancia desde la izquierda */
  }

  /* Estilo personalizado para el toast */
.custom-toast {
    .toast-wrapper {
      width: 80vw; /* Ancho del toast */
      max-width: 300px; /* Ancho máximo del toast */
      min-height: 100px; /* Altura mínima del toast */
    }
  
    .toast-message {
      white-space: normal; /* Permite el ajuste de línea */
      padding: 10px; /* Espacio alrededor del mensaje */
    }
  }
  