/* Fondo verde claro */
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
}

/* Color de texto azul */
ion-label, ion-input, ion-textarea, ion-button, .ion-text-center a {
    color: #007bff !important; /* Color azul */
}

/* Estilo para el botón de iniciar sesión */
ion-button {
    color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
}

/* Estilo para los elementos de entrada */
.input-item {
    --background: #ffffff; /* Color de fondo blanco */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 20px; /* Espacio a la izquierda para el icono */
    --border: 2px solid #007bff; /* Color de contorno azul */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

/* Limitar el número de caracteres en los campos de entrada */
ion-input {
    --maxlength: 30; /* Límite de caracteres */
}

/* Estilos para la pregunta */
.question {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff !important; /* Centrar el texto */
}

/* Estilos para los contenedores de opciones */
.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para cada opción */
.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%; /* Ancho del contenedor */
    height: 120px; /* Altura del contenedor */
    margin-bottom: 10px; /* Espacio inferior */
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff; /* Color de fondo blanco */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
    cursor: pointer; /* Cambia el cursor al hacer hover */
    transition: background-color 0.3s; /* Transición al hacer hover */
}

.option:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al hacer hover */
}

.option.center {
    width: 100%; /* Ancho del contenedor centrado */
}

/* Estilos para los íconos */
ion-icon {
    font-size: 36px; /* Tamaño de los íconos */
    color: #007bff; /* Color azul */
    margin-bottom: 8px; /* Espacio inferior */
}

/* Estilos para las cards */
.card {
    width: calc(100% - 10px); /* Ajuste para ocupar el 50% del ancho con un espacio de 10px entre las cards */
    margin-bottom: 20px; /* Espacio entre las cards */
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 18px; /* Tamaño del texto del título */
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}

/* Estilo para las badges */
ion-badge {
    background-color: #007bff; /* Color azul para la badge */
    color: #fff; /* Texto blanco */
    font-size: 12px; /* Tamaño del texto en la badge */
    font-weight: bold;
    border-radius: 10px; /* Bordes redondeados */
    padding: 5px 10px; /* Espacio interno */
    position: relative;
    top: -2px; /* Ajustar verticalmente para alinear con el texto */
}

/* Estilo para el indicador de voto */
.voto-indicador {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #007bff; /* Color azul para el indicador de voto */
}

.voto-indicador ion-icon {
    font-size: 24px; /* Tamaño del ícono */
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

/* Estilo para el estado de la reunión */
.estado-indicador {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #ff4d4d; /* Rojo para el estado finalizado */
}

.estado-indicador ion-icon {
    font-size: 24px; /* Tamaño del ícono */
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

/* Estilo para el contenido scrollable */
.scrollable-content {
    max-height: 150px; /* Altura máxima para el contenido scrollable */
    overflow-y: auto; /* Habilitar scroll vertical si el contenido excede la altura máxima */
}

.container {
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    max-width: 1200px; /* Ancho máximo del contenedor */
    padding: 0 20px; /* Agregar espacio a ambos lados del contenedor */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
