<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Reuniones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reuniones</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Barra de búsqueda -->
  <ion-searchbar (ionChange)="buscarReuniones($event)" placeholder="Buscar reuniones"></ion-searchbar>

  <div class="container mt-3">
    <div *ngFor="let reunion of reunionesFiltradas" class="card mb-3" (click)="verDetalles(reunion)">
      <div class="card-body">
        <h5 class="card-title">{{ reunion.motivo }}</h5>
        <p class="card-text">{{ reunion.comentarios }}</p>
        <p class="card-text">{{ reunion.ubicacion }}</p>
        <p class="card-text">Estado: {{ reunion.estado }}</p>
        <p class="card-text" *ngIf="reunion.fechas_reunion.length">
          Fechas:
          <span *ngFor="let fecha of reunion.fechas_reunion; let i = index">
            {{ fecha.fecha | date: 'fullDate' }}
            <span *ngIf="i < reunion.fechas_reunion.length - 1">, </span>
          </span>
        </p>
        <div class="scrollable-content">
          <h6>Participantes:</h6>
          <div *ngFor="let participante of reunion.participantes">{{ participante.nombre }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para mostrar reuniones finalizadas -->
  <ion-button expand="block" (click)="toggleMostrarFinalizadas()">
    {{ mostrarFinalizadas ? 'Ocultar Finalizadas' : 'Ver Finalizadas' }}
  </ion-button>
</ion-content>
