<!-- register-guest.html -->
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Registro de Invitado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">
        Nombre
      </ion-label>
      <ion-input type="text" [(ngModel)]="guestName" clearInput="true" maxlength="30"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">
        Teléfono
      </ion-label>
      <ion-input type="tel" [(ngModel)]="guestPhone" clearInput="true" maxlength="30"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="registerGuest()">Continuar</ion-button>

  <div class="ion-text-center ion-margin-top">
    <p>¿Ya tienes una cuenta? <a href="/login" (click)="iniciarSesion()">Iniciar sesión</a></p>
  </div>
</ion-content>
