/* Fondo verde claro */
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
}

/* Color de texto azul */
ion-label, ion-input, ion-textarea, ion-button, .ion-text-center a {
    color: #007bff !important; /* Color azul */
}

/* Estilo para el botón de iniciar sesión */
ion-button {
    color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
}

/* Estilo para los elementos de entrada */
.input-item {
    --background: #ffffff; /* Color de fondo blanco */
    --border-radius: 10px; /* Bordes redondeados */
    --padding-start: 20px; /* Espacio a la izquierda para el icono */
    --border: 2px solid #007bff; /* Color de contorno azul */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}

/* Limitar el número de caracteres en los campos de entrada */
ion-input {
    --maxlength: 30; /* Límite de caracteres */
}

/* Estilos para la selección de fechas */
.participant-count {
    font-size: 0.8rem;
    color: var(--ion-color-medium);
}

.date-radio-item {
    display: flex;
    align-items: center;
}

.date-label {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.participant-info {
    margin-top: 5px;
    margin-left: 10px; /* Ajustar este valor según sea necesario */
}

.date-content {
    margin-bottom: 0.5rem; /* Añade margen en la parte inferior para separar las opciones */
}

.date-radio {
    margin-right: 10px; /* Ajusta el espacio entre el botón de radio y la fecha */
}
.estado-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .estado-circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .estado-nombre {
    font-size: 1em;
    text-transform: capitalize;
  }

  .estado-reunion-container {
    display: flex;
    justify-content: space-between; // Distribuye uniformemente los elementos
    align-items: center;
    margin: 20px 0;
  
    .fase {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      .numero-circulo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
  
        &.success {
          background-color: var(--ion-color-success);
          color: white;
        }
  
        &.medium {
          background-color: var(--ion-color-medium);
          color: white;
        }
      }
  
      .estado-label {
        font-size: 14px; // Ajusta el tamaño del texto
        margin-top: 5px;
      }
    }
  }