<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Fechas tentativas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Mensaje del creador del grupo -->
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h3>
          {{ groupCreatorName }} quiere que elijas las fechas más convenientes para la reunión '{{ meetingName }}' por '{{ meetingPurpose }}'.
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Lista de fechas tentativas -->
  <ion-list>
    <ion-card *ngFor="let date of tentativeDates">
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h2>{{ formatDate(date.startDate) }}</h2>
            <p>{{ date.startDate | date: 'HH:mm' }} - {{ date.endDate | date: 'HH:mm' }}</p>
          </ion-label>
          <ion-checkbox slot="start" [checked]="date.selected" (ionChange)="toggleSelectedDate(date.startDate)"></ion-checkbox>
        </ion-item>
      </ion-card-content>
    </ion-card>

      <!-- Opción para indicar que ninguna fecha es adecuada -->
<!-- Opción para indicar que ninguna fecha es adecuada -->
<ion-item>
  <ion-label>No puedo asistir en ninguna de estas fechas</ion-label>
  <ion-checkbox slot="start" [checked]="noneOfTheDatesWork" (ionChange)="toggleNoneOfTheDatesWork($event.detail.checked)"></ion-checkbox>
</ion-item>
  </ion-list>

  <!-- Botón de enviar -->
  <ion-button expand="block" (click)="submitVote()" [disabled]="submitButtonDisabled">Enviar</ion-button>
  
  <!-- Mensaje de agradecimiento -->
  <ion-item *ngIf="showThankYouMessage" class="ion-text-center">
    ¡Gracias por tu selección de fechas!
  </ion-item>


</ion-content>
