// Fondo verde claro
ion-content {
    --ion-background-color: #e5ffea !important; /* Color verde claro */
}

// Color de texto azul
ion-label, ion-input, ion-textarea {
    color: #007bff !important; /* Color azul */
}

.swiper-slide {
    height: auto !important;
  }


  

// Fondo blanco para los campos de entrada
ion-input, ion-textarea {
    --ion-background-color: #ffffff !important; /* Fondo blanco */
}

// Espacio entre los elementos
ion-item {
    margin-bottom: 20px;
}

.custom-button {
    color: #ffffff; /* Color de texto blanco */
  }

// Estilo para el botón de agregar fechas tentativas
ion-button {
    --background: #007bff !important; /* Color de fondo azul para el botón */
    --color: #ffffff !important; /* Color de texto blanco */
    font-weight: bold; /* Añade negrita al texto del botón */
    font-size: 16px; /* Tamaño de fuente personalizado */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
}

// Estilo para el botón de guardar
ion-button[type="submit"] {
    --background: #007bff !important; /* Color de fondo azul para el botón */
    --color: #ffffff !important; /* Color de texto blanco */
    font-size: 14px; /* Tamaño de fuente personalizado */
    padding: 8px 16px; /* Ajusta el espacio dentro del botón */
}

.custom-datetime {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  