<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title">
      {{ capitalizeFirstLetter(selectedDateFormatted) }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="calendar-container" *ngIf="showCalendar">
  <div class="calendar-header">
    <button (click)="prevMonth()">◄</button>
    <span>{{ getMonthFromDate(currentMonth) }}</span>
    <button (click)="nextMonth()">►</button>
  </div>

  <div class="calendar-body">
    <div class="day-names">
      <div class="day-name" *ngFor="let dayName of dayNames">{{ dayName }}</div>
    </div>

    <div class="days-grid">
      <!-- Celdas vacías para alinear el primer día del mes -->
      <div class="day-cell empty-cell" *ngFor="let cell of emptyCells"></div>

      <!-- Días del mes -->
      <div
        class="day-cell"
        *ngFor="let day of days"
        [ngClass]="{
          'current-month-day': day.isCurrentMonth,
          'other-month-day': !day.isCurrentMonth,
          'selected-day': day.isActive,
          'today': day.isToday,
          'unselectable': !day.isSelectable
        }"
        (click)="day.isSelectable && selectDay(day)"
      >
        {{ day.day }}
      </div>
    </div>
  </div>
</div>
